{% load static %}

<!-- Libs css' %} -->
<link rel="stylesheet" href="{% static 'dashboard/fonts/feather/feather.min.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/libs/highlight.js/styles/vs2015.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/libs/quill/dist/quill.core.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/libs/select2/dist/css' %}/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/libs/flatpickr/dist/flatpickr.min.css' %}">

<!-- Theme css' %} -->
  
<link rel="stylesheet" href="{% static 'dashboard/css/theme.min.css' %}' %}" id="stylesheetLight">

<link rel="stylesheet" href="{% static 'dashboard/css/theme-dark.min.css' %}' %}" id="stylesheetDark">

<style>body { display: none; }</style>