{% load static %}
<!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script src="{% static 'dashboard/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/highlightjs/highlight.pack.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/flatpickr/dist/flatpickr.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/jquery-mask-plugin/dist/jquery.mask.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/list.js/dist/list.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/quill/dist/quill.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/dropzone/dist/min/dropzone.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'dashboard/libs/chart.js/Chart.extension.min.js' %}"></script>

    <!-- Theme JS -->
    <script src="{% static 'dashboard/js/theme.min.js' %}"></script>