{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% block content %}

    <!-- CONTENT
    ================================================== -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-5 col-xl-4 my-5">
            {% block error %}
            {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Hey !</strong> {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>     
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Hey !</strong> {{ error|escape }}.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> 
    {% endfor %}
{% endif %}
            {% endblock %}
          <!-- Heading -->
          <h1 class="display-4 text-center mb-3">
                Your password is now changed
          </h1>
          
          <!-- Subheading -->
          <p class="text-muted text-center mb-5">
                We have changed your password as per your request now you can login with new password and study.
          </p>
         
            <!-- Submit -->
            <a href="#"><button class="btn btn-lg btn-block btn-primary mb-3">
                    Thank you ! Sorry for inconvinience...
                  </button></a>

            <!-- Link -->
            <div class="text-center">
              <small class="text-muted text-center">
                    Please contact us if you have any trouble resetting your password.
              </small>
            </div>
            
          
          

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
    {% endblock %}