{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<!-- CONTENT
    ================================================== -->
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-5 col-xl-4 my-5">
                {% block error %}

                {% if messages %}
      {% for message in messages %}
        
  
        <div class="alert alert-{% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
            <strong>Hey !</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      {% endfor %}
    {% endif %}
  
                
                {% endblock %}
               
            
            <!-- Heading -->
            <h1 class="display-4 text-center mb-3">
              Change Password
            </h1>
            
            <!-- Subheading -->
            <p class="text-muted text-center mb-5">
              provide your old password to chane.
            </p>
            <form  method="POST" id="signup_form" action="{% url 'account_change_password' %}">{% csrf_token %}
  
              <!-- Email address -->
              <div class="form-group">
  
                <!-- Label -->
                <label>Old Password</label>
  
                <!-- Input -->
                <input type="password" class="form-control" name="oldpassword" placeholder="enter old password">
  
              </div>
  
              <!-- Password -->
              <div class="form-group">
  
                <div class="row">
                  <div class="col">
                        
                    <!-- Label -->
                    <label>New Password</label>
  
                  </div>
                  
                </div> <!-- / .row -->
  
                <!-- Input group -->
                <div class="input-group input-group-merge">
  
                  <!-- Input -->
                  <input type="password" name="password1" class="form-control form-control-appended" placeholder="Enter your password">
  
                  <!-- Icon -->
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fe fe-eye"></i>
                    </span>
                  </div>
  
                </div>
              </div>

              <!-- Password -->
              <div class="form-group">
  
                    <div class="row">
                      <div class="col">
                            
                        <!-- Label -->
                        <label>Confirm new password</label>
      
                      </div>
                      
                    </div> <!-- / .row -->
      
                    <!-- Input group -->
                    <div class="input-group input-group-merge">
      
                      <!-- Input -->
                      <input type="password" name="password2" class="form-control form-control-appended" placeholder="confirm password">
      
                      <!-- Icon -->
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fe fe-eye"></i>
                        </span>
                      </div>
      
                    </div>
                  </div>
  
              <!-- Submit -->
              <button class="btn btn-lg btn-block btn-primary mb-3">
                Proceed
              </button>
  
              <!-- Link -->
              <div class="text-center" hidden="hidden">
                <small class="text-muted text-center">
                  Already have an account? <a href="{{ login_url }}">Sign In</a>.
                </small>
              </div>
              
            </form>
            
  
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
{% endblock %}
