{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<!-- CONTENT
    ================================================== -->
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-5 col-xl-4 my-5">
              {% block error %}
              {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
              <strong>Hey !</strong> {{ error }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>     
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <strong>Hey !</strong> {{ error|escape }}.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> 
      {% endfor %}
  {% endif %}
              {% endblock %}
               
            
            <!-- Heading -->
            <h1 class="display-4 text-center mb-3">
              Password Reset
            </h1>
                           
        {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="text-muted text-center mb-5">The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
        {% else %}
            {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <form  method="POST" id="signup_form" action="{{ action_url }}">{% csrf_token %}
  
                        <!-- Email address -->
                        <div class="form-group">
            
                          <!-- Label -->
                          <label>Password</label>
            
                          <!-- Input -->
                          <input type="password" class="form-control" name="password1" placeholder="Enter your password">
            
                        </div>
            
                        <!-- Password -->
                        <div class="form-group">
            
                          <div class="row">
                            <div class="col">
                                  
                              <!-- Label -->
                              <label>Confirm Password</label>
            
                            </div>
                            
                          </div> <!-- / .row -->
            
                          <!-- Input group -->
                          <div class="input-group input-group-merge">
            
                            <!-- Input -->
                            <input type="password" name="password2" class="form-control form-control-appended" placeholder="Confirm password here">
            
                            <!-- Icon -->
                            <div class="input-group-append">
                              <span class="input-group-text">
                                <i class="fe fe-eye"></i>
                              </span>
                            </div>
            
                          </div>
                        </div>
            
                        <!-- Submit -->
                        <button class="btn btn-lg btn-block btn-primary mb-3">
                          Change Password
                        </button>
            
                        
                        
                      </form>
            </form>
            {% else %}
            <p class="text-muted text-center mb-5">Your password is now changed.</p>
            {% endif %}
        {% endif %}

            
            
  
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
{% endblock %}
