{% load static %}
<!-- JS Global Compulsory -->
  <script src="{% static 'dstudy/vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'dstudy/vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'dstudy/vendor/popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'dstudy/vendor/bootstrap/bootstrap.min.js' %}"></script>

  <!-- JS Implementing Plugins -->
  <script src="{% static 'dstudy/vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
  <script src="{% static 'dstudy/vendor/svg-injector/dist/svg-injector.min.js' %}"></script>
  <script src="{% static 'dstudy/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <script src="{% static 'dstudy/vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>
  <script src="{% static 'dstudy/vendor/fancybox/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'dstudy/vendor/typed.js/lib/typed.min.js' %}"></script>
  <script src="{% static 'dstudy/vendor/slick-carousel/slick/slick.js' %}"></script>
  <script src="{% static 'dstudy/vendor/datatables/media/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'dstudy/vendor/flatpickr/dist/flatpickr.min.js' %}"></script>
  <script src="{% static 'dstudy/vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>

  <!-- JS Front -->
  <script src="{% static 'dstudy/js/hs.core.js' %}"></script>
  <script src="{% static 'dstudy/js/components/hs.header.js' %}"></script>
  <script src="{% static 'dstudy/js/components/hs.unfold.js' %}"></script>
  <script src="{% static 'dstudy/js/components/hs.focus-state.js' %}"></script>
  <script src="{% static 'dstudy/js/components/hs.malihu-scrollbar.js' %}"></script>
  <script src="{% static 'dstudy/js/components/hs.validation.js' %}"></script>
  <script src="{% static 'dstudy/js/components/hs.fancybox.js' %}"></script>
  <script src="{% static 'dstudy/js/components/hs.slick-carousel.js' %}"></script>
  <script src="{% static 'dstudy/js/components/hs.show-animation.js' %}"></script>
  <script src="{% static 'dstudy/js/components/hs.svg-injector.js' %}"></script>
  <script src="{% static 'dstudy/js/components/hs.go-to.js' %}"></script>
  <script src="{% static 'dstudy/js/components/hs.range-datepicker.js' %}"></script>
  <script src="{% static 'dstudy/js/components/hs.selectpicker.js' %}"></script>
  <script src="{% static 'dstudy/js/components/hs.datatables.js' %}"></script>


